/* Stylesheet for website pages */

/* CSS HEX
--space-cadet: #25283dff;
--amaranth-purple: #b6244fff;
--pomp-and-power: #976391ff;
--plum: #8f3985ff;
--non-photo-blue: #98dfeaff;
--light-sea-green: #07beb8ff;
--champagne-pink: #efd9ceff; */

body {
    background-color: #25283dff;
}

h1 {
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    font-family: 'Segoe UI';
    color: #98dfeaff;
}

h2 {
    font-weight: bolder;
    font-size: 1.2em;
    text-align: left;
    font-family: 'Segoe UI';
    color: #b6244fff;
}

h3 {
    font-weight: bolder;
    font-size: 1em;
    text-align: left;
    font-family: 'Segoe UI';
    color: #8f3985ff;
}

p {
    font-family: 'Segoe UI';
    font-size: 1em;
    text-align: left;
    color: black;
}

ul li {
    font-family: 'Segoe UI';
    font-size: 1em;
    text-align: left;
    color: black;
}

#leftcontent {  
    float: left;
    width: 16%;
}

#maincontent {
    float: left;
    width: 83%;
    padding-left: 10px;
}

.card {
    border-radius: 8px;
    background-color: #efd9ceff;
    padding: 10px;
    margin-top: 10px;
}

.icons {
    color: black;
    height: 20px;
    width: 40px;
}